@import "variables";
@import "aniamtions";

@import '~grommet/scss/vanilla/../grommet-core/index';
@import '~grommet/scss/vanilla/objects.button-vanilla';

html, body {
  background-color: $background-color
}

.grommetux-background-color-index--dark .grommetux-button {
  color: rgba(255,255,255,0.95);
}

.grommet,
.grommetux-background-color-index--light,
.grommetux-background-color-index--dark .grommetux-background-color-index--light {
  color: #435363;
}

.grommetux-background-color-index--light .grommetux-paragraph,
.grommetux-background-color-index--dark .grommetux-background-color-index--light .grommetux-paragraph {
  color: #435363;
}

p.grommetux-paragraph {
  font-size: 18px;
  line-height: 1.45;
}

.big-border {
  border: 24px solid $background-color
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.brand-gradient-bg {
  background: $brand-gradient
}

.grommetux-control-icon {
  &.fill > * {
    fill: rgba(255,255,255,0.95);
    stroke: rgba(255,255,255,0.95);
  }

  &.fill-brand-gradient > * {
    fill: $brand-color !important;
    stroke: $brand-color !important;
  }
}

p.grommetux-paragraph {
  font-weight: 300;
  cursor: default;
}

.grommetux-headline, .grommetux-title, .grommetux-heading {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  letter-spacing: 2px;

  &.grommetux-headline--strong {
    font-weight: 900;
  }

}

.grommetux-layer .grommetux-layer__container {
  border-radius: 0;
}

