@import '~grommet/scss/vanilla/vanilla.defaults';

$bg-color: #f5f5f5;
$brand-color-variant: #0055dd;
$brand-color: #5691c8;
$brand-color-lighter: #5ca5e2;

$brand-neutral-colors: (#435363, #DC2878, #501EB4, #49516F);

$background-color: #f5f5f5;

$brand-gradient: linear-gradient(140deg, $brand-color 40%, $brand-color-variant);

$mobile-menu-gradient: linear-gradient(190deg, $brand-color 60%, $brand-color-lighter);

$brand-font-family: 'Work Sans', Arial, sans-serif;
$brand-large-number-font-family: 'Work Sans', Arial, sans-serif;

$fonts-path: "https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;subset=latin-ext";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&subset=latin-ext');
